.member {
  display: flex;
  align-items: center;
  border: 1px solid #000;
  border-radius: 8px;
  padding: 8px 12px;
  background-color: #fff;
  font-size: 14px;
  gap: 10px;
  color: #000;
}

.iconWrapper {
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon {
  width: 24px;
  height: 24px;
  display: block;
}
