.wrapper {
  border: 1px solid #000;
}

.members {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 12px;
  border-bottom: 1px solid black;
}

.total {
  font-weight: bold;
  text-align: center;
  padding: 12px;
}
