#root {
  text-align: center;
}

.container-app {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  padding: 12px;
}

.item-container.left {
  width: calc((100% - 24px) * 2 / 3);
}

.item-container.right {
  width: calc((100% - 24px) / 3);
}

@media (max-width: 640px) {
  .container-app {
    flex-direction: column;
  }

  .item-container.left {
    width: 100%;
  }

  .item-container.right {
    width: 100%;
  }

  .item-container.map {
    height: 300px;
  }
}
